body {
	font-family: helvetica, arial, sans-serif;
	color: #333;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #ff6600;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: #0066ff;
  stroke-width: 1.5px;
}